@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-color: #464646;
    --primary-bg: #ffffff;
    --secondary-bg:#AFE1AF;
    --icon-color: #00A36C;
}

body {
  max-width: 1440px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  background-color: var(--primary-bg);
}

html {
  scroll-behavior: smooth;
}


